In [1]:
import test as mcsp

In [2]:
from test import model

In [3]:
from test import algorithm

In [4]:
import uuid
import pandas as pd
import numpy as np

In [5]:
iter_data: pd.DataFrame = pd.DataFrame(columns=[
            "uid",
            "iter",
            "T",
            "H",
            "energy",
            "magnetization",
            "spin",
        ])
iter_data.set_index(["uid", "iter"], inplace=True)

In [24]:
iter_data.loc[(1,1),:] = [1,2,3,4,5]
iter_data.loc[(1,2),:] = [1,2,3,4,5]
iter_data.at[(1,1),'spin'] = np.random.rand(3,3)
iter_data.at[(1,2),'spin'] = np.random.rand(3,3)

In [25]:
iter_data

          T  H energy magnetization
uid iter
1   1     1  2      3             4  \
    2     1  2      3             4

                                                       spin
uid iter
1   1     [[0.8980049247110389, 0.29492803719021377, 0.7...
    2     [[0.14954591037379816, 0.5337704678549962, 0.0...

In [26]:
iter_data.loc[1].loc[iter_data.loc[1].index.max()].spin

array([[1.49545910e-01, 5.33770468e-01, 4.60031921e-04],
       [8.81871905e-01, 3.02991695e-01, 3.89776331e-01],
       [2.23090337e-01, 7.85434458e-01, 2.84328871e-01]])

In [6]:
m = model.Ising(10)
f = algorithm.Metropolis(m)

In [7]:
f.iter_data.index.get_level_values('uid').values

array([], dtype=object)

In [12]:
uid = uuid.uuid1().hex

In [8]:
f.equil_sample(1,1000)

In [19]:
f.iter_sample(1,uid)

In [20]:
f.iter_data

                                       T  H energy magnetization
uid                              iter
5521d264f3bc11ed84e3b831b5777aab 1     1  0   -8.0          0.04  \
                                 2     1  0   -8.0          0.04
                                 3     1  0  -12.0          0.02
                                 4     1  0  -12.0          0.04
                                 5     1  0  -12.0          0.06
...                                   .. ..    ...           ...
825a8337f3bc11edae4eb831b5777aab 2     1  0  -20.0           0.0
                                 3     1  0  -24.0          0.02
                                 4     1  0  -24.0          0.02
                                 5     1  0  -28.0           0.0
                                 6     1  0  -28.0          0.02

                                                                                    spin
uid                              iter
5521d264f3bc11ed84e3b831b5777aab 1     [[1, 1, -1, -1, 1, -1, 1, 1, -1, 1], [1, -1, 1...
                                 2     [[1, 1, -1, -1, 1, -1, 1, 1, -1, -1], [1, -1, ...
                                 3     [[1, 1, -1, -1, 1, -1, 1, 1, -1, -1], [1, -1, ...
                                 4     [[1, 1, -1, -1, 1, -1, 1, 1, -1, -1], [1, -1, ...
                                 5     [[1, 1, -1, -1, 1, -1, 1, 1, -1, -1], [1, -1, ...
...                                                                                  ...
825a8337f3bc11edae4eb831b5777aab 2     [[1, 1, -1, -1, 1, -1, 1, 1, -1, 1], [1, -1, 1...
                                 3     [[1, 1, -1, -1, 1, -1, 1, 1, -1, 1], [1, -1, 1...
                                 4     [[1, 1, -1, -1, 1, -1, 1, 1, -1, 1], [1, -1, 1...
                                 5     [[1, 1, -1, -1, 1, -1, 1, 1, -1, 1], [1, -1, 1...
                                 6     [[1, 1, -1, -1, 1, -1, 1, 1, -1, 1], [1, -1, 1...

[1007 rows x 5 columns]